@import '../../assets/styles/mixins.module';
@import '../../assets/styles/variables.module';

.btn {
    @include btn(100%, 42px, $primary_color, 3px);

    cursor: pointer;
    font-size: 14px;
    font-weight: 300;

    &:hover {
        transition: background-color 300ms;
    }
}

.primaryBtn {
    background-color: $primary_color;
    color: $white_color;

    &:hover {
        background-color: $white_color;
        color: $primary_color;
        border: 1px solid $primary_color;
    }
}

.secondaryBtn {
    background-color: transparent;
    color: $primary_color;
    border: 1px solid $primary_color;

    &:hover {
        background-color: $primary_color;
        color: $white_color;
    }
}


