@import '../../assets/styles/mixins.module';
@import '../../assets/styles/variables.module';

.btn {
    @include btn(176px, 42px, $primary_color, 3px);

    cursor: pointer;
    color: $white_color;
    font-size: 14px;
    font-weight: 300;

    &:hover {
        background-color: $white_color;
        color: $primary_color;
        border: 1px solid $primary_color;
        transition: background-color 300ms;
    }
}

