@import '../../assets/styles/mixins.module';
@import '../../assets/styles/variables.module';

.container {
    background-image: url('https://scontent.fsgn2-9.fna.fbcdn.net/v/t39.30808-6/481019517_1249447863296038_6334015374931732144_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_ohc=7LDl_JQ-SJoQ7kNvgE0CnCD&_nc_oc=Adi7V9QOt_KUDTVIxhNF2wVtvArllPqNJ7CjolOibk2qWhzWR-Xm9r4BkSIFRVYgwTY&_nc_zt=23&_nc_ht=scontent.fsgn2-9.fna&_nc_gid=AATgnx-LgI53_yWuNIN6SeO&oh=00_AYDmAPiOLfnLZ9LzOZDCaTJ5z5syhzwm1ElvXRgCVYVFEg&oe=67C3D7A6');
    background-repeat: no-repeat;
    background-size: cover;
    height: 409px;
    width: calc(100% / 2);
}

.containerTimer {
    @include flex_box_custom(center, center, 10px);
}

.title {
    color: $white_color;
    font-size: 28px;
    margin-bottom: 6px;
    text-align: center;
}

.boxBtn {
    margin-top: 20px;
    text-align: center;
}
